html, body{margin:0;padding:0;font-family:"Lucida Grande", Helvetica, Arial, "Arial Unicode", sans-serif;font-size:12px;color:#C9C5C1;height:100%;background-color:#D8E0E2;background:url(../images/cloud/body.jpg);background-position:100% 100%;}
.headerbar{height:36px;width:100%;min-width:1000px;background:rgb(50, 50, 50);}
.headerLogo{margin:2px;width:137px;height:32px;background:url(../images/cloud/logo-header.png);display:block;}
.headerNavSpan{margin:0 15px 0 15px;height:32px;width:2px;background:#fff;display:inline-block;}
.headerLogo:hover{background-position:0 -32px;}
.headerUploadCloud{margin:2px;width:46px;height:32px;background:url(../images/cloud/cloud-upload.png);display:block;}
.headerContentDiv{display:inline-block;height:34px;}
.headerUploadCloud:hover{background-position:-46px 0;}
.globalPageWrapper{margin-left:auto;margin-right:auto;width:968px;}
img{border:none;}
a{text-decoration:underline;color:#326C76;outline:none;}
a:hover{text-decoration:none;}
textarea{font-size:12px;font-family:"Lucida Grande", Helvetica, Arial, "Arial Unicode", sans-serif;}
.clear{clear:both;}
.clearLeft{clear:left;}
.clearRight{clear:right;}
.headerBar{width:100%;}
.mainLogo{padding-top:14px;float:none;}
.logoSpace{padding-top:10px;padding-bottom:10px;}
.mainLogo img{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.mainLogo:hover img{-webkit-transform:rotate(-7deg);-moz-transform:rotate(-7deg);-o-transform:rotate(-7deg);}
.mainNavigation{float:right;padding-top:2px;font-size:14px;color:#9C9C9C;padding-right:10px;height:36px;}
.bodyBar{text-align:center;}
.footerBar{padding-top:10px;color:#777;font-size:11px;padding-bottom:14px;padding-left:16px;}
.footerBar .footerLinks{float:left;}
.footerBar .footerLinks .section1, .footerBar .footerLinks .section2{float:left;width:200px;text-transform:lowercase;}
.footerBar .footerCopyrightText{padding-top:12px;color:#aaa;text-align:center;}
.footerBar .footerCopyrightText a{text-decoration:none;color:#aaa;}
.footerBar .footerCopyrightText a:hover{text-decoration:underline;}
.footerBar .footerLinks ul{line-height:1.4em;list-style-position:outside;list-style-type:square;margin:0px 3px 0px 14px;padding:0 2px 0 5px;text-align:left;text-indent:2px;}
.footerBar .footerLinks a{text-decoration:underline;color:#888;}
.footerBar .footerLinks a:hover{text-decoration:none;color:#333;}
.pageErrors{padding:10px;background-color:#fff;border:2px solid red;}
.pageErrors li{list-style:none;padding:0;margin:0;font-size:14px;}
.errorText{color:#CD0A0A;}
.passwordContainer{width:555px;overflow:hidden;background-color:#1C839A;padding-top:10px;padding-bottom:10px;color:#fff;}
.shortUrlResult{width:555px;background-color:#FFF;text-align:left;margin-bottom:32px;text-align:center;vertical-align:middle;font-size:18px;padding-top:20px;border:1px solid #555;}
.shortUrlResult a{text-decoration:none;color:#326C76;}
.shortUrlResult a:hover{text-decoration:underline;}
.shortUrlResultTick{float:right;padding-right:15px;margin-top:-4px;}
.metaRedirectWrapper{padding:25px;margin-left:auto;margin-right:auto;width:555px;}
.metaRedirect{width:555px;height:140px;background-color:#fff;text-align:left;text-align:center;font-size:16px;padding-top:10px;border:1px solid #555;}
.framedRedirectTopFrame{overflow:hidden;}
.framedRedirectTopFrameWrapper{background-repeat:no-repeat;background-position:bottom left;}
.framedRedirectTopFrameWrapper .rightContent{float:right;padding-top:37px;padding-right:10px;}
.framedRedirectTopFrameWrapper .leftContent{float:left;width:150px;cursor:pointer;}
.framedRedirectTopFrameWrapper .rightAdContent{float:right;}
.reportUrlBox{width:535px;height:115px;background-color:#FFF;text-align:left;padding:10px;}
.shortUrlInput{padding-top:28px;}
.shortUrlInputLabel{float:left;width:80px;margin-top:3px;}
.shortUrlButton{padding-top:24px;text-align:center;}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}.yui-panel{position:relative;}.yui-panel-container form{margin:0;}.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}.mask.block-scrollbars{overflow:auto;}.masked select,.drag select,.hide-select select{_visibility:hidden;}.yui-panel-container select{_visibility:inherit;}.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}.hide-scrollbars select{display:none;}.show-scrollbars{overflow:auto;}.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}.yui-tt-shadow{position:absolute;}.yui-override-padding{padding:0!important;}.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.mask{background-color:#000;opacity:.35;filter:alpha(opacity=35);}.popupContainer .yui-panel-container{padding:0 1px;*padding:2px;}.popupContainer .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}.popupContainer .yui-panel .hd,.popupContainer .yui-panel .bd,.popupContainer .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}.popupContainer .yui-panel .hd{border-bottom:solid 1px #ccc;}.popupContainer .yui-panel .bd,.popupContainer .yui-panel .ft{background-color:#F2F2F2;}.popupContainer .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) repeat-x 0 -200px;}.popupContainer .yui-panel .bd{padding:10px;}.popupContainer .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}.popupContainer .container-close{position:absolute;top:5px;right:6px;width:25px;height:15px;background:url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) no-repeat 0 -300px;cursor:pointer;}.popupContainer .yui-panel-container .underlay{right:-1px;left:-1px;}.popupContainer .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}.popupContainer .yui-panel-container.shadow{_padding:2px 4px 0 2px;}.popupContainer .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-3px;right:-3px;bottom:-3px;*top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}.popupContainer .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}.popupContainer .yui-dialog .ft .button-group{display:block;text-align:right;}.popupContainer .yui-dialog .ft button.default{font-weight:bold;}.popupContainer .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}.popupContainer .yui-dialog .ft span.default .first-child{border-color:#304369;}.popupContainer .yui-dialog .ft span.default button{color:#fff;}.popupContainer .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}.popupContainer .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}.popupContainer .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}.popupContainer .yui-simple-dialog .bd .yui-icon{background:url(http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}.popupContainer .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}.popupContainer .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}.popupContainer .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}.popupContainer .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}.popupContainer .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}.popupContainer .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}.popupContainer .yui-tt .bd{position:relative;top:0;left:0;z-index:1;color:#000;padding:2px 5px;border-color:#D4C237 #A6982B #A6982B #A6982B;border-width:1px;border-style:solid;background-color:#FFEE69;}.popupContainer .yui-tt.show-scrollbars .bd{overflow:auto;}.popupContainer .yui-tt-shadow{top:2px;right:-3px;left:-3px;bottom:-3px;background-color:#000;}.popupContainer .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}
.popupContainer .yui-panel .bd li{padding-bottom:10px;}
.popupContainer{display:none;}
.footerAds{text-align:center;padding-top:100px;}
.metaRedirectWrapperTopAds{text-align:center;padding-bottom:30px;padding-top:10px;}
.metaRedirectWrapperBottomAds{text-align:center;padding-top:20px;padding-bottom:10px;}
.contentPageWrapper{margin-left:auto;margin-right:auto;width:100%;padding-bottom:12px;}
.contentPageWrapper .upgradeSection{width:175px;float:left;}
.contentPageWrapper .upgradeSection .upgradeContent{border:1px solid #ccc;}
.contentPageWrapper .upgradeSection .upgradeContent:hover{border:1px solid #EE5F00;}
.pageSectionMain{width:700px;background-color:#FFF;text-align:left;float:left;}
.pageSectionMainFull{width:100%;background-color:#FFF;text-align:left;}
.pageSectionMainInternal{padding:20px;}
.pageSectionMain .disclaimer{padding-top:15px;}
.fileUploadMain{width:100%;text-align:left;background:url(../images/cloud/b-calculator2.png) bottom repeat-x, url(../images/cloud/b-calculator.png);-webkit-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);-moz-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);}
.fileUploadMain .fileUploadBadge{float:right;display:block;background:url(../images/cloud/b-services-item-price_blue-free.png) right top no-repeat;width:203px;height:120px;color:#fff;padding-left:24px;padding-top:18px;line-height:normal;position:relative;top:-15px;left:40px;text-decoration:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.fileUploadMainFull{width:100%;text-align:left;}
.fileUploadMainInternal{padding:20px;}
.fileUploadMain .initialUploadSection{cursor:pointer;}
.fileUploadMain .initialUploadSection .initialUploadText .uploadText, .fileListingWrapper .introText{padding-bottom:4px;float:left;}
.fileListingWrapper .globalProgressWrapper{width:720px;height:10px;float:left;}
.copyAllLinkWrapper{float:right;}
.fileUploadMain .initialUploadSection .initialUploadText .uploadElement{width:640px;height:39px;font-size:20px;margin-left:14px;color:#0088FF;text-shadow:0 1px 1px #ffffff;}
.fileUploadMain .initialUploadSection .uploadElement .internal{padding-top:7px;padding-left:220px;font-style:italic;}
.contentPageWrapper h2{line-height:0px;padding-bottom:10px;font-size:22px;color:rgba(86, 107, 121, 0.67);font-weight:bold;text-shadow:0 1px 1px #ffffff;}
#form-join .field-container{left:120px;position:relative;width:500px;}
#form-join .field-name{font-size:1.1em;left:-125px;position:absolute;text-align:right;top:8px;width:110px;}
#form-join .submitInput{width:auto;padding:5px;}
#form-join input.submitInput, #form-join input.cancelInput{background:none repeat scroll 0 0 #0F93C4;border:1px solid #0F93C4;border-radius:5px 5px 5px 5px;clear:both;color:#FFFFFF;cursor:pointer;font-family:helvetica;font-weight:bold;height:32px;margin:10px 0px 0px 0px;padding:3px 30px;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.28);transition:background 0.3s ease 0s;}
#form-join input.submitInput:hover, #form-join input.cancelInput:hover{background:none repeat scroll 0 0 #0D7AA4;}
#form-join .cancelInput{width:auto;padding:5px;}
#form-join input, #form-join textarea{width:300px;}
#form-join input, #form-join select{position:relative;}
#form-join li{margin-bottom:7px;}
.loginPanel .submitInput{width:auto;padding:5px;}
ul{list-style-type:none;}
#form-join .formTip{color:#999999;font-size:0.9em;height:57px;left:322px;overflow:hidden;position:absolute;top:0;width:110px;background-image:url('../images/right_arrow.jpg');background-repeat:no-repeat;padding-left:8px;background-position:0px 3px;}
.hidden{display:none;}
.hiddenAlt{position:absolute;left:-9999px;}
.ui-button{padding:6px;}
.loginWrapper{margin:0 auto;position:relative;}
.loginLink{}
.loginLinkSelected{background:#2a2a2a;color:#fff;}
.loginLinkSelected a{color:#fff;text-decoration:none;}
.loginPanel{position:absolute;top:-1px;right:1px;width:161px;padding:15px;background:#2a2a2a;font-size:8pt;font-weight:bold;color:#FFF;display:none;border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.loginPanel input{width:95%;}
.loginPanel .submitButton{float:right;padding-top:5px;text-align:right;}
.loginPanel .fieldWrapper{float:left;padding-bottom:5px;}
.txtCenter{text-align:center;}
th{color:#fff;background-color:#555555;padding:7px;cursor:pointer;}
.dataTables_wrapper td{padding:6px;}
.privatePublicText{color:#999999;}
.faq ul{list-style-type:square;padding-left:18px;}
.rightContentWrapper{width:245px;background-color:#fff;text-align:left;float:left;margin-left:20px;}
.rightContent{}
.rightContent a{text-decoration:none;}
.rightContent a:hover{text-decoration:underline;}
.divOdd, .divEven{float:left;width:100%;overflow:auto;}
.divOdd{background-color:#ccc;color:#fff;}
.divOdd a{color:#fff;}
.divEven{background-color:#fff;}
#termsContent{font-size:11px;}
.sliderContent{position:absolute;width:847px;border-bottom:20px solid #74848A;border-left:20px solid #74848A;border-right:20px solid #74848A;font-size:11px;border-image:url(../images/cloud/l-clouds-block-bottom.jpg) 30 round;}
.sliderContent table{background-color:#fff;}
.sliderContent label{font-weight:bold;}
.sliderContent tr{cursor:default;}
.rowSelected{background-image:url(../images/cloud/l-clouds-block-bottom.jpg);}
.htmlCode{font-family:"Courier New",
Courier,
monospace,
Helvetica;}
.homePageSpacer{padding-top:6px;}
.fileUploadContent{width:100%;text-align:left;background:#ffffff;float:left;}
.fileUploadContentInternal{padding:20px;}
.fileUploadContentInternal p{width:95%;}
.fileupload-buttonbar .ui-button input{position:absolute;top:0;right:0;margin:0;border:solid transparent;border-width:0 0 100px 200px;opacity:0;filter:alpha(opacity=0);-o-transform:translate(250px, -50px) scale(1);-moz-transform:translate(-300px, 0) scale(4);direction:ltr;cursor:pointer;}
.fileinput-button{overflow:hidden;}
*html .fileinput-button{padding:2px 0;}
*+html .fileinput-button{padding:2px 0;}
.fileupload-buttonbar{padding:0.2em 0.4em;}
.fileupload-buttonbar .ui-button{vertical-align:middle;}
.fileupload-content{border-width:0px;}
.fileupload-content .ui-progressbar{width:100%;height:10px;}
.fileupload-content .ui-progressbar .ui-progressbar-value{background:url(../images/progress_bar.gif);border:1px solid #4297D7;}
.fileupload-content .fileupload-progressbar{margin:10px 0;}
.fileupload-content .initialUploadText{font-size:24px;}
.fileupload-progresstext{color:#999;}
.files{border-bottom:1px solid #E2E4FF;}
.files, .addFileRow{border-collapse:collapse;}
.files tr:hover{background-color:#f2e8da;}
.files td, .addFileRow td{padding-top:3px;border-spacing:3px;}
.files .cancel, .addFileRow .cancel{width:30px;text-align:center;}
.files .cancel{height:39px;}
.addFileRow .cancel{height:29px;}
.files .name, .addFileRow .name, .files .url a{text-align:left;font-size:14px;}
.files .url{width:500px;}
.files .rightArrow{width:14px;}
.addFileRow td{border-bottom:1px solid #eee;}
.fileupload-content .fileListingWrapper .fileSectionFooterText{padding-top:10px;}
.sliderContent a{text-decoration:none;}
.sliderContent .odd{border-top:1px solid #fff;padding:5px;}
.sliderContent .even{border-top:1px solid #fff;padding:5px;}
.fileupload-content .fileListingWrapper .files td, .fileupload-content .fileListingWrapper .files td{border-top:1px solid #E2E4FF;}
.ui-state-disabled .ui-state-disabled{opacity:1;filter:alpha(opacity=100);}
.ui-state-disabled input{cursor:default;}
.template-upload .preview{text-align:right;padding-right:3px;}
.sliderContent tr:hover, .sliderContent td:hover{background-color:#fff;cursor:default;}
.fileupload-content .fileListingWrapper{width:96%;}
.fileupload-content .baseText{float:left;color:#aaaaaa;width:930px;}
.fileupload-content .uploadFooter{padding-top:18px;}
.fileupload-content .fileListingWrapper .fileSectionFooterText .uploadButton{float:right;background:url('../images/upload_queue_button.png') right top no-repeat;width:155px;height:39px;cursor:pointer;}
.fileupload-content .fileListingWrapper .fileSectionFooterText .uploadProcessingButton{float:right;background:url('../images/processing_button.png') right top no-repeat;width:155px;height:39px;}
.files .template-download:hover{background-image:url(../images/cloud/l-clouds-block-bottom.jpg);cursor:pointer;}
.fileListingWrapper .urlOff{background:url('../images/blue_down_arrow.png') 98% 55% no-repeat;}
.accountStateTable{border-bottom:1px solid #bbb;border-collapse:collapse;width:100%;}
.accountStateTable td{padding:6px;border-top:1px solid #bbb;border-right:1px solid #bbb;}
.accountStateTable .first{background-color:#555;background:url(../images/cloud/bg-dark.png);color:#fff;font-weight:bold;width:160px;}
.upgradeContent{width:100%;text-align:left;background:#ffffff;float:left;}
.upgradeContentInternal{padding:10px;}
.upgradeContentInternal p{width:95%;}
.upgradeContentInternal div{text-align:center;}
.upgradeContentInternal .period{font-size:24px;font-weight:bold;padding-bottom:1px;}
.upgradeContentInternal .premium{font-size:20px;padding-bottom:10px;}
.upgradeContentInternal .totalPrice{font-size:24px;font-weight:bold;padding-bottom:4px;color:#EE5F00;}
.upgradeContentInternal .pricePerDay{font-size:14px;padding-bottom:12px;color:#888;}
.upgradeContentInternal .paymentButton{padding-bottom:6px;}
.upgradeContentInternal .secure{font-size:10px;}
.formattedList{line-height:1.4em;list-style-position:outside;list-style-type:square;margin:0px 3px 0px 14px;padding:0 2px 0 5px;text-align:left;text-indent:2px;}
.accountBenefitWrapper{float:left;overflow:hidden;width:33%;}
.accountBenefit{background:url('../images/green_tick_small_alt.png') left center no-repeat;width:100%;padding-left:22px;padding-top:3px;padding-bottom:3px;}
.greenTick{background:url('../images/green_tick_small_alt.png') center center no-repeat;height:17px;}
.redX{background:url('../images/x_red.gif') center center no-repeat;height:17px;}
.homepageInfoWrapper{float:left;overflow:hidden;padding-right:20px;}
.homepageInfoWrapper .homepageInfo{float:left;}
.homepageInfoWrapper .homepageInfo .homepageInfoTitle{float:left;clear:both;font-weight:bold;font-size:14px;padding-bottom:8px;}
.homepageInfoWrapper .homepageInfo .homepageInfoText{float:left;clear:both;font-size:14px;color:#666;}
.homepageInfoWrapper .icon1, .homepageInfoWrapper .icon2, .homepageInfoWrapper .icon3, .homepageInfoWrapper .icon4{float:right;height:100px;width:100px;}
.homepageInfoWrapper .icon1{background:url('../images/home_image_1.png') right top no-repeat;}
.homepageInfoWrapper .icon2{background:url('../images/home_image_2.png') right top no-repeat;}
.homepageInfoWrapper .icon3{background:url('../images/home_image_3.png') right top no-repeat;}
.homepageInfoWrapper .icon4{background:url('../images/home_image_4.png') right top no-repeat;}
.dwnPageHeader{width:710px;margin:0 auto 0px;}
.downloadPageTable{//background:url("../images/table_bg.gif") repeat-y scroll 0 0 transparent;margin:0 auto 12px;overflow:hidden;width:710px;}
.downloadPageTable table{//background:url("../images/table_top.gif") no-repeat scroll 0 0 transparent;border-collapse:collapse;width:100%;table-layout:fixed;}
.downloadPageTable th.descr{background:url("../images/clock_small.png") no-repeat scroll 14px 50% transparent;padding-left:57px;text-align:left;width:100px;}
.downloadPageTable th{border:1px solid #E2E2E2;height:57px;background-color:transparent;width:180px;color:#333333;font-weight:normal;}
th.head{width:120px;}
.downloadPageTable td.descr{padding:12px 0 11px 15px;text-align:left;width:275px;}
.downloadPageTable td{border:1px solid #E2E2E2;padding:6px 0;text-align:center;}
.downloadPageTable .link{background:url("../images/download.png") no-repeat scroll 0 0 transparent;color:#FFFFFF;display:block;font-size:11px;font-weight:bold;height:28px;line-height:28px;margin:0 auto;overflow:hidden;text-align:center;text-shadow:1px 1px 0 #565656;width:154px;text-decoration:none;}
.downloadPageTable .link:hover{text-decoration:underline;}
.downloadPageTable .premiumBtn{background:url("../images/download.png") no-repeat scroll 0 100% transparent;}
.download-timer{font-weight:bold;text-align:center;color:#333;}
.saveToFolder{font-size:10px;}
.loginPanel .submitInput{width:auto;border:1px solid #CCCCCC;color:#4C4C4C;font-size:1.1em;padding:5px;position:relative;}
.loginPanel .forgotPassword{float:left;color:#fff;font-weight:normal;padding-top:11px;}
.loginPanel .forgotPassword a{color:#fff;font-weight:normal;text-decoration:underline;}
.loginPanel .forgotPassword a:hover{text-decoration:none;}
.pageSuccess{padding:10px;background-color:#fff;border:2px solid green;}
.pageSuccess li{list-style:none;padding:0;margin:0;font-size:14px;}
.captchaPageTable{margin:0 auto 12px;overflow:hidden;width:600px;border:1px solid #E2E2E2;background-color:#FEFEFE;}
.captchaPageTable table{border-collapse:collapse;width:100%;}
.captchaPageTable td.descr{padding:12px 0 11px 15px;text-align:left;width:275px;}
.captchaPageTable td{padding:6px 0;text-align:center;}
.captchaPageTable .link:hover{text-decoration:underline;}
div#demoBanner{background-color:#333333;width:100%;text-align:center;padding:7px;font-weight:bold;color:#ffffff;opacity:0.5;filter:alpha(opacity=50);}
div#demoBanner span{cursor:pointer;}
div#demoBanner a{color:#ffffff;}
div#demoBanner:hover{opacity:1;filter:alpha(opacity=100);}
.footerMultiLanguageSwitcherWrapper{width:100%;text-align:center;margin-top:12px;}
.footerMultiLanguageSwitcher{padding:6px;color:#fff;background-color:#ffffff;margin-left:8px;margin-right:auto;display:table;}
.footerMultiLanguageSwitcher img{margin:0px;}
th{border-bottom:1px solid #BBBBBB;border-right:1px solid #BBBBBB;}
.dataTables_wrapper td{border-bottom:1px solid #CDCDCD;border-right:1px solid #CDCDCD;}
.dataTables_wrapper table{border-left:1px solid #CDCDCD;}
.alignCenter{text-align:center;}
.contentPageWrapper .dataTables_filter{width:80%;}
.contentPageWrapper .dataTables_length{width:20%;}
.ui-dialog .ui-dialog-buttonpane button{border:1px solid #79b7e7;background:#d0e5f5 url(../images/jquery_ui/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;font-weight:bold;color:#1d5987;padding:1px;}
.popupForm input{width:96%;padding:5px;}
.popupForm .amountInfo{padding-top:12px;}
.homeTabs, .statsTabs{background:none;padding:0px;border:none;}
.homeTabs .ui-tabs-panel, .statsTabs .ui-tabs-panel{position:relative;padding:22px 22px 22px;background:#fff;-webkit-box-shadow:0 13px 27px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 13px 27px rgba(0, 0, 0, 0.4);box-shadow:0 13px 27px rgba(0, 0, 0, 0.4);-khtml-border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;z-index:30;overflow:visible !important;}
.homeTabs .ui-tabs-panel{-webkit-transition:all 400ms cubic-bezier(0.42, 0, 0.58, 1);-moz-transition:all 400ms cubic-bezier(0.42, 0, 0.58, 1);-o-transition:all 400ms cubic-bezier(0.42, 0, 0.58, 1);transition:all 400ms cubic-bezier(0.42, 0, 0.58, 1);}
.homeTabs .ui-widget-header, .statsTabs .ui-widget-header{background:none;border:none;font-weight:normal;}
.homeTabs .ui-tabs-nav, .statsTabs .ui-tabs-nav{padding:0px;}
.homeTabs .ui-tabs-nav li, .statsTabs .ui-tabs-nav li{border-bottom:1px solid #FFFFFF;}
.homeTabs .ui-state-hover a, .homeTabs .ui-state-default a, .homeTabs .ui-state-active a, .statsTabs .ui-state-hover a, .statsTabs .ui-state-default a, .statsTabs .ui-state-active a{font-weight:normal;}
.homeTabs .ui-state-default a, .statsTabs .ui-state-default a{color:#777;}
.homeTabs .ui-state-active a, .statsTabs .ui-state-active a{color:#0088FF;}
.homeTabs .ui-state-default, .statsTabs .ui-state-default{border-top:1px solid transparent;border-right:1px solid transparent;border-left:1px solid transparent;}
.homeTabs .ui-state-hover, .statsTabs .ui-state-hover{border-top:1px solid #aaa;border-right:1px solid #aaa;border-left:1px solid #aaa;}
.homeTabs .ui-state-active, .statsTabs .ui-state-active{border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff;}
.loginWrapper{z-index:999;}
.urlUploadMain{text-align:left;width:100%;text-align:left;background:url(../images/cloud/b-calculator2.png) bottom repeat-x, url(../images/cloud/b-calculator.png);-webkit-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);-moz-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);}
.urlUploadMain .fileUploadBadge{float:right;display:block;background:url(../images/cloud/b-services-item-price_blue-free.png) right top no-repeat;width:203px;height:120px;color:#fff;padding-left:24px;padding-top:18px;line-height:normal;position:relative;top:-15px;left:40px;text-decoration:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.urlUploadMain{width:100%;text-align:left;}
.urlUploadMainInternal{padding:20px;}
.urlUploadMain .initialUploadSection{cursor:pointer;}
.urlUploadMain .inputElement{width:78%;}
.urlUploadMain textarea{border:1px solid #C0C0C0;padding:5px;font-size:14px;width:100%;height:100px;}
.urlUploadMain .fileListingWrapper{width:96%;}
.urlUploadMain .urlUploadFooter{padding-top:8px;width:79%;}
.urlUploadMain .baseText{float:left;color:#aaaaaa;}
.urlUploadMain .transferFilesButton{float:right;background:url('../images/transfer_files_button.png') right top no-repeat;width:155px;height:39px;cursor:pointer;}
.urlUploadMain .fileSection .urls{border-bottom:1px solid #E2E4FF;}
.urlUploadMain .fileSection .urls, .addFileRow{border-collapse:collapse;}
.urlUploadMain .fileSection .urls tr:hover{background-color:#f2e8da;}
.urlUploadMain .fileSection .urls td{padding-top:3px;border-spacing:3px;}
.urlUploadMain .fileSection .urls .cancel{width:30px;text-align:center;height:39px;}
.urlUploadMain .fileSection .urls .name, .urlUploadMain .fileSection .urls .url a{text-align:left;font-size:14px;}
.urlUploadMain .fileSection .urls .url{width:500px;}
.urlUploadMain .fileSection .urls .rightArrow{width:14px;}
.urlUploadMain .fileSection .urls td{border-top:1px solid #E2E4FF;}
.urlUploadMain .fileSection .urls .template-download:hover{background-color:#dedede;cursor:pointer;}
.urlUploadMain .fileSection .urls .template-download .sliderContent tr:hover{background-color:#ffffff;}
.urlUploadMain .urlFileListingWrapper{width:96%;}
.urlUploadMain .urlFileListingWrapper .urlOff{background:url('../images/blue_down_arrow.png') 98% 55% no-repeat;}
.urlUploadMain .urlFileListingWrapper .introText{padding-bottom:4px;float:left;}
.urlUploadMain .urlFileListingWrapper .fileSectionFooterText{padding-top:10px;}
.sliderContent{z-index:999;}
.tabsHover .ui-state-active{border-left:1px solid #C0DDF4;border-right:1px solid #C0DDF4;border-top:1px solid #C0DDF4;}
.tabsHover .ui-tabs-panel{border-top-right-radius:5px;-webkit-box-shadow:0 13px 27px rgba(30,114,188,0.8);-moz-box-shadow:0 13px 27px rgba(30,114,188,0.8);box-shadow:0 13px 27px rgba(30,114,188,0.8);}
.progress{background-color:#F7F7F7;background-image:linear-gradient(to bottom, #F5F5F5, #F9F9F9);background-repeat:repeat-x;border-radius:4px 4px 4px 4px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;height:10px;margin-bottom:10px;margin-top:10px;overflow:hidden;}
.progress .bar{-moz-box-sizing:border-box;background-color:#0E90D2;background-image:linear-gradient(to bottom, #149BDF, #0480BE);background-repeat:repeat-x;box-shadow:0 -1px 0 rgba(0, 0, 0, 0.15) inset;color:#FFFFFF;float:left;font-size:12px;height:100%;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);transition:width 0.6s ease 0s;width:0;}
.progress .bar + .bar{box-shadow:1px 0 0 rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;}
.progress-striped .bar{background-color:#149BDF;background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size:40px 40px;}
#additionalOptionsWrapper input{padding:5px;}
#additionalOptionsWrapper .pageSectionMainFull{background-image:url(../images/cloud/bg-dark.png);}
#additionalOptionsWrapper .pageSectionMainFull .saveButton{cursor:pointer;}
.showAdditionalOptionsLink{text-decoration:none;cursor:pointer;}
.showAdditionalOptionsLink:hover{text-decoration:underline;cursor:pointer;}
#additionalOptionsWrapper .itemLeft, #additionalOptionsWrapper .itemRight{width:300px;}
#additionalOptionsWrapper .itemLeft{float:left;padding-right:0px;}
#additionalOptionsWrapper .itemRight{float:right;padding-left:0px;}
#additionalOptionsWrapper input{width:170px;}
#urlUpload .progressWrapper{float:right;margin-right:4px;}
#urlUpload .progressWrapper .progressText{color:#999999;font-size:12px;}
#form-join .form-content{margin-left:120px;margin-top:10px;}
input[type="text"], input[type="password"], textarea, select{background-image:none;border:1px solid #CCCCCC;border-radius:3px 3px 3px 3px;padding:6px;}
#form-join .small{width:100px;}
#form-join .medium{width:200px;}
#form-join .large{width:300px;}
#form-join input:focus, #form-join textarea:focus, #form-join select:focus{border-color:#A6C9E2;}
.fileManagerWrapperFullScreen{position:absolute;top:0;bottom:0;right:0;left:0;overflow:hidden;background-color:#EEEEEE;}
.fileManagerWrapper, .fileManagerWrapperFullScreen{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.fileManagerWrapperFullScreen{padding:5px;}
.fileManagerWrapperFullScreen .fileManager .icon .fileListing li{margin:0px 8px 8px 0;}
.fileManagerWrapper .fileManager .icon .fileListing li{margin:5px 10px 5px 0;}
.fileManager .fileManagerLoading{text-align:center;padding-top:100px;width:96%;}
.fileManagerWrapper .fileManager, .fileManagerWrapperFullScreen .fileManager{display:inline-block;width:100%;}
.fileManagerWrapper .fileListing, .fileManagerWrapperFullScreen .fileListing{padding:0px;margin:0px;}
.fileManagerWrapper .fileManagerIcon .fileListing{padding:7px 0 0 7px;}
.fileManagerIcon .fileListing li .thumb{height:60px;position:relative;}
.fileManagerIcon .fileListing li .thumb img{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.fileListing{min-height:98%;}
.fileManagerIcon .fileListing li{background:none repeat scroll 0 0 #FCFCFC;border:1px solid #ccc;display:inline-block;margin:0px 7px 7px 0;padding:10px;text-align:center;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
.fileManagerIcon .fileListing li:hover{border-color:#BBBBBB;}
.fileManagerIcon .fileListing li span.filename{display:block;margin-top:5px;text-align:center;overflow:hidden;text-overflow:ellipsis;width:100px;white-space:nowrap;}
.fileManagerList .fileListing li span.filename{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.fileManagerWrapper .fileManagerList .fileListing li span.filename{width:400px;}
.fileManagerWrapperFullScreen .fileManagerList .fileListing li span.filename{width:65%;white-space:normal;}
.fileManagerIcon .fileListing li:hover, .fileManagerList .fileListing li:hover{background-color:#E7F0FA;}
.fileManagerIcon .fileListing .selected a, .fileManagerList .fileListing .selected a{color:#fff;}
.fileManagerIcon .fileListing .selected, .fileManagerIcon .fileListing .selected:hover, .fileManagerList .fileListing .selected, .fileManagerList .fileListing .selected:hover{background-color:#5B9BDA;border-color:#2975C0;color:#fff;}
.fileManagerIcon .fileListing li .filesize, .fileManagerIcon .fileListing li .fileUploadDate, .fileManagerIcon .fileListing li .thumbList, .fileManagerList .fileListing li .thumbIcon{display:none;}
.fileManagerIcon .fileListing li .thumbIcon, .fileManagerList .fileListing li .thumbList{display:inline-block;}
.fileManagerIcon .fileListing li .thumbIcon{height:64px;display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;display:-moz-box;-moz-box-pack:center;-moz-box-align:center;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;display:box;box-pack:center;box-align:center;}
.fileManagerIcon .fileListing li .thumbIcon img{display:inline-block;}
.fileManagerList .fileListing li .filesize, .fileManagerList .fileListing li .fileUploadDate{float:right;text-align:right;}
.fileManagerList .fileListing li .filename, .fileManagerList .fileListing li .filesize, .fileManagerList .fileListing li .fileUploadDate{vertical-align:top;display:inline-block;padding:3px;}
.fileManagerList .fileListing li .filesize{width:70px;}
.fileManagerList .fileListing li{padding:3px;cursor:pointer;height:24px;}
.fileManager .fileListing li .thumbList{width:25px;}
.fileManagerMain .folderTreeview, .fileManagerMain .fileManagerCell{float:left;width:100%;}
.fileManagerMain .folderTreeview{-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;border:1px solid #CCCCCC;background-color:#fff;overflow:hidden;padding-left:3px;padding-right:3px;padding-top:6px;padding-bottom:6px;}
.fileManagerWrapper .fileManagerMain .folderTreeview, .fileManagerMain .fileManagerMainTable .folderTreeCell{width:272px;}
.fileManagerWrapperFullScreen .fileManagerMain .folderTreeview{width:300px;height:97%;}
.fileManagerWrapper .fileManagerMain .fileManagerCell .fileManager{float:left;width:99.6%;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;border:1px solid #CCCCCC;background-color:#fff;}
.fileManagerWrapper .fileManagerMain .fileManagerCell .fileManagerList{padding:0px;}
.fileManagerMainTable .dividerCell{width:6px;}
.fileManagerMain .folderTreeview{height:590px;overflow:auto;}
.fileManagerMain .fileManagerCell .fileManager{height:525px;overflow:auto;}
.fileManagerMain .fileManagerMainTable td{vertical-align:top;}
.fileManagerMain .fileManagerMainTable .folderTreeCell, .fileManagerMain .fileManagerMainTable .fileManagerCell{overflow:hidden;height:597px;}
.pageSectionFileManagerFull{width:100%;text-align:left;}
.fileManagerMain .statusBar{font-size:11px;padding-left:5px;padding-top:5px;}
.fileManagerWrapperFullScreen .fileManagerMain{height:100%;}
.fileManagerWrapperFullScreen .fileManagerMain .fileManagerMainTable{height:96%;}
.fileManagerMain .fileManagerCell .customFilter{margin-bottom:3px;}
.fileManagerMain .fileManagerCell .customFilter .filterElements{padding:3px;}
.fileManagerMain .fileManagerCell .customFilter .filterElements .button-container{display:inline-block;vertical-align:top;padding-left:6px;}
.fileManagerMain .fileManagerCell .customFilter .filterElements .button-container .button{padding:0.40em 1em;}
.fileManagerMain .fileManagerCell .customFilter input, .fileManagerMain .fileManagerCell .customFilter select{padding:3px;background-image:none;border:1px solid #CCCCCC;border-radius:3px 3px 3px 3px;font-size:12px;font-family:"Lucida Grande",Helvetica,Arial,"Arial Unicode",sans-serif;color:#333333;}
.fileManagerMain .fileManagerCell .customFilter #dateRange input{width:200px;}
.fileManagerMain .fileManagerCell .customFilter #dateRange div{font-size:9px;}
.fileManagerMain .fileManagerCell .customFilter .datepicker{font-size:11px;display:inline;}
.fileManagerMain .fileManagerCell .customFilter .datepicker .ui-datepicker-calendar .ui-state-default{border:1px solid #fff;}
.fileManagerMain .fileManagerCell .customFilter .datepicker .ui-datepicker-header{border-radius:0px;}
.fileManagerMain .fileManagerCell .customFilter .datepicker .ui-datepicker-buttonpane{text-align:right;padding:5px;}
.fileManagerMain .fileManagerCell .customFilter .datepicker .ui-datepicker-buttonpane input{cursor:pointer;}
.fileManagerMain .fileManagerCell .pagingWrapper{margin-top:7px;}
.fileManagerMain .fileManagerCell .pagingWrapper .rightSection{display:inline;float:right;}
.fileManagerMain .fileManagerCell .pagingWrapper .rightSection .button-container{display:inline;float:right;}
.fileManagerMain .fileManagerCell .pagingWrapper .rightSection .button-container .currentPageText:hover{background-color:#fff;color:#333333;cursor:auto;}
.fileManagerMain .fileManagerCell .pagingWrapper .pagingSelector{display:inline;float:left;padding-left:7px;}
.fileManagerMain .fileManagerCell .pagingWrapper .pagingSelector select{font-size:10px;padding:5px;}
.fileManager .infoText{padding:7px;display:block;}
.accountFileDetailsPopup{padding:0px 7px 0 7px;}
.accountFileDetailsPopup .pageHeaderPopupButtons, .popupContent .pageHeaderPopupButtons{float:right;margin-top:-6px;padding-right:24px;}
.accountFileDetailsPopup .accountStateTable, .contentPageWrapper .accountStateTable{table-layout:fixed;}
.accountFileDetailsPopup .accountStateTable td, .contentPageWrapper .accountStateTable td{word-wrap:break-word;}
.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default{background:none;background-color:lightsteelblue;color:#fff;}
.loginLink, .loginLinkSelected{margin-left:-6px;}
#additionalOptionsWrapper .itemLeft ul, #additionalOptionsWrapper .itemRight ul{padding:0px;}
.pageSuccess{cursor:pointer;}
.popupContent .popupContentUrlDiv{font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;}
.fileManagerMain .fileManagerCell .pagingWrapper .lowerToolbar{display:inline;float:right;padding-right:10px;}
.fileManagerDraggleSelection{position:absolute;border:1px solid #89B;background-color:#5B9BDA;border-color:#8B9;}
.fileManagerIcon .fileListing .active, .fileManagerIcon .fileListing .active:hover{background-color:#E7F0FA;border:1px solid #B9B9B9;}
.fileManagerList .fileListing .active, .fileManagerList .fileListing .active:hover{background-color:#E7F0FA;}
.button-container .button-group.minor-group .button.ui-state-disabled:hover{background-color:#FFFFFF;color:#333333;}
.button-container .button.ui-state-disabled.favorite.icon:hover:before{background-position:0 -348px;}
.button-container .button.ui-state-disabled.trash.icon:hover:before{background-position:0 -336px;}
.contactForm .field-container textarea, .contactForm .field-container input[type=text]{width:440px!important;}
.statsTabs .tabContent{background-color:#fff;padding:16px;}
.statsTabs .tabContent table{width:100%;cellspacing:0px;border-collapse:collapse;margin-left:auto;margin-right:auto;margin-top:10px;}
.statsTabs .tabContent table td, .statsTabs .tabContent table th{padding:4px;border:1px solid #ccc;}
.statsTabs .tabContent table td:first-child{width:34%;}
.statsTabs .tabContent table td:last-child{width:33%;}
.statsTabs .tabContent table tr:nth-child(even){background-color:#DCF3FC;}
.downloadPageTableV2{margin:0 auto 12px;overflow:hidden;width:850px;}
.downloadPageTableV2 table{border-collapse:collapse;width:100%;border-left:1px solid #E2E2E2;border-top:1px solid #E2E2E2;}
.downloadPageTableV2 th.descr{background:url("../images/clock_small.png") no-repeat scroll 14px 50% transparent;padding-left:57px;text-align:left;width:220px;}
.downloadPageTableV2 th{border-bottom:1px solid #E2E2E2;height:57px;background-color:transparent;width:180px;color:#333333;font-weight:normal;}
.downloadPageTableV2 td.descr{padding:12px 0 11px 15px;text-align:left;width:275px;}
.downloadPageTableV2 td{border-right:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2;padding:6px 0;text-align:center;}
.downloadPageTableV2 .link{background:url("../images/download.png") no-repeat scroll 0 0 transparent;color:#FFFFFF;display:block;font-size:11px;font-weight:bold;height:28px;line-height:28px;margin:0 auto;overflow:hidden;text-align:center;text-shadow:1px 1px 0 #565656;width:154px;text-decoration:none;}
.downloadPageTableV2 .link:hover{text-decoration:underline;}
.downloadPageTableV2 .premiumBtn{background:url("../images/download.png") no-repeat scroll 0 100% transparent;font-size:18px;}
.downloadPageTableV2 .typeHeader{font-size:18px;text-align:center;}
.contentPageWrapper .largeDownloadButtons{text-align:center;}
.contentPageWrapper .largeDownloadButtons img{margin:20px;}
.downloadPageTableV3 table{width:100%;}
.downloadPageTableV3 td{border-right:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2;padding:6px 0;text-align:center;}
.l-footer{margin-top:0px;height:343px;min-width:1000px;background:url(../images/cloud/l-footer.jpg) repeat-x;}
.l-footer-content{height:100%;background:url(../images/cloud/l-footer-content.jpg) bottom no-repeat;}
.l-footer-top{width:965px;padding:0 15px;margin:0 auto;padding-top:40px;zoom:1;}
.l-footer-top:before,
.l-footer-top:after{content:"";display:table;}
.l-footer-top:after{clear:both;}
.l-footer-top-col1{width:177px;float:left;margin-left:24px;}
.l-footer-top-col2{width:224px;float:left;}
.l-footer-top-col3{width:256px;float:left;margin-left:38px;}
.l-footer-top-col4{width:212px;float:left;margin-left:33px;}
.b-footer-logo{background:url(../images/cloud/nb-cloud-logo.png) no-repeat;width:100px;height:94px;margin-bottom:20px;}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi){.b-footer-logo{background:url('../images/cloud/nb-clodo-logo2.png') no-repeat top left;background-size:100px 94px;}
}
.b-footer-menu-title{color:#dbdee0;font-size:24px;line-height:16px;font-weight:normal;margin:0;background:url(../images/cloud/l-footer-bottom.png) bottom repeat-x;padding-bottom:17px;-webkit-box-shadow:0 -1 x 1px #000000;-moz-box-shadow:0 -1 x 1px #000000;box-shadow:0 -1 x 1px #000000;}
.b-footer-menu-items-item{display:block;text-decoration:none;color:#82cdf4;font-size:13px;margin-top:12px;opacity:0.7;}
.b-footer-menu-items-item:hover{text-decoration:underline;}
.b-social-links{line-height:0;font-size:1px;margin-top:22px;}
.b-social-link-facebook{display:inline-block;text-decoration:none;width:27px;height:28px;background-image:url(../images/cloud/b-social-link.png);background-position:0 0px;margin-right:10px;text-indent:100%;white-space:nowrap;overflow:hidden;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.b-social-link-facebook:hover{background-position:-27px 0px;}
.b-social-link-twitter{display:inline-block;text-decoration:none;width:27px;height:28px;background-image:url(../images/cloud/b-social-link.png);background-position:0 -28px;margin-right:10px;text-indent:100%;white-space:nowrap;overflow:hidden;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.b-social-link-twitter:hover{background-position:-27px -28px;}
.b-social-link-vkontakte{display:inline-block;text-decoration:none;width:27px;height:28px;background-image:url(../images/cloud/b-social-link.png);background-position:0 -56px;margin-right:10px;text-indent:100%;white-space:nowrap;overflow:hidden;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.b-social-link-vkontakte:hover{background-position:-27px -56px;}
.b-appstore-link{display:block;margin-top:22px;background:url(../images/cloud/b-appstore-link.png) left no-repeat;width:85px;height:29px;text-indent:100%;white-space:nowrap;overflow:hidden;}
.b-appstore-link:hover{background-position:right;}
.l-footer-bottom{background:url(../images/cloud/l-footer-bottom.png) top repeat-x;margin-top:17px;}
.l-footer-bottom-content{width:965px;padding:0 15px;margin:0 auto;padding-top:21px;zoom:1;}
.l-footer-bottom-content:before,
.l-footer-bottom-content:after{content:"";display:table;}
.l-footer-bottom-content:after{clear:both;}
.b-payment-services{float:left;color:#aeb5bd;font-size:11px;margin-left:22px;opacity:0.6;}
.b-payment-services img{vertical-align:middle;margin-left:40px;}
.b-site-developer{float:right;color:#aeb5bd;line-height:25px;font-size:11px;margin-top:8px;}
.b-site-developer-lnk{display:inline-block;margin-left:5px;position:relative;top:-6px;vertical-align:middle;background:url(../images/cloud/b-site-developer-lnk.png) left no-repeat;width:45px;height:25px;}
.b-site-developer-lnk:hover{background-position:right;}
.l-clouds-block-top{height:300px;position:relative;}
.l-clouds-block-top:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:130px;background:url(../images/cloud/l-clouds-block-top.png) bottom repeat-x;}
.l-clouds-block-bottom{background:url(../images/cloud/l-clouds-block-bottom.jpg);position:relative;}
.b-mobile-apps{position:relative;height:100%;overflow:hidden;width:965px;padding:0 15px;margin:0 auto;}
.b-mobile-apps-lnk{position:absolute;left:107px;top:106px;color:#4c6071;font-size:30px;line-height:36px;text-decoration:none;width:300px;z-index:300;text-shadow:0 -1px 1px #ffffff;}
.b-mobile-apps-lnk:hover{text-decoration:underline;color:#c6440e;}
.b-mobile-apps-cloud1{background:url(../images/cloud/b-mobile-apps-cloud1.png) no-repeat;width:99px;height:63px;position:absolute;left:350px;bottom:30px;}
.b-mobile-apps-cloud2{background:url(../images/cloud/b-mobile-apps-cloud2.png) no-repeat;width:52px;height:30px;position:absolute;right:187px;bottom:205px;}
.b-mobile-apps-cloud3{background:url(../images/cloud/b-mobile-apps-cloud3.png) no-repeat;width:103px;height:69px;right:97px;bottom:105px;position:absolute;}
.b-mobile-apps-appstore{display:block;background:url(../images/cloud/b-mobile-apps-appstore.png) left no-repeat;width:103px;height:34px;position:absolute;right:15px;bottom:240px;}
.b-mobile-apps-appstore:hover{background-position:right;}
.b-mobile-apps-phones{background:url(../images/cloud/b-mobile-apps-phones.png) no-repeat;width:284px;height:245px;position:absolute;bottom:-10px;left:480px;}
.l-news-container{padding-top:20px;}
.b-news{height:43px;width:965px;padding:0 15px;margin:0 auto;zoom:1;}
.b-news:before,
.b-news:after{content:"";display:table;}
.b-news:after{clear:both;}
.b-news-title{margin:0;margin-left:21px;float:left;width:130px;color:#fff;font-size:30px;font-weight:normal;text-shadow:0 -1px 1px #000b1c;}
.b-news-title a{text-decoration:none;color:#fff;}
.b-news-rss{display:block;background:url(../images/cloud/b-news-rss.png) no-repeat;width:16px;height:17px;float:left;margin-top:10px;}
.b-news-actions{float:left;margin-left:32px;width:70px;}
.b-news-actions-item{display:inline-block;vertical-align:middle;background:url(../images/cloud/b-news-actions-item.png) no-repeat;width:31px;height:32px;}
.b-news-actions-item_prev{background-position:left top;}
.b-news-actions-item_prev:hover{background-position:top;}
.b-news-actions-item_prev:active{background-position:right top;}
.b-news-actions-item_next{background-position:left bottom;}
.b-news-actions-item_next:hover{background-position:bottom;}
.b-news-actions-item_next:active{background-position:right bottom;}
.b-news-clip{position:relative;width:670px;height:21px;float:left;margin-left:16px;overflow:hidden;top:8px;}
.b-news-items{position:absolute;top:0;left:0;white-space:nowrap;}
.b-news-items-item{width:670px;display:inline-block;white-space:normal;zoom:1;}
.b-news-items-item:before,
.b-news-items-item:after{content:"";display:table;}
.b-news-items-item:after{clear:both;}
.b-news-items-item-text{display:block;width:560px;float:left;margin:0;color:#fff;font-size:13px;text-decoration:none;text-shadow:0 -1px 1px #1a4056;}
.b-news-items-item-date{width:85px;float:left;color:#fff;font-weight:bold;font-size:13px;background:url(../images/cloud/b-news-items-item-date.png) left no-repeat;padding-left:25px;text-shadow:0 -1px 1px #1a4056;}
.b-clouds-block{margin-top:-60px;min-width:1000px;}
.b-support-rates-list-item{display:inline-block;position:relative;vertical-align:top;text-align:left;line-height:normal;font-size:14px;width:226px;padding:10px;-webkit-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);-moz-box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);box-shadow:inset 0 2px 2px rgba(32,36,46,.41), 0 1px 1px rgba(214,220,225,.75);-khtml-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.b-support-rates-list-item-head{height:76px;text-align:center;background:url(../images/cloud/b-support-rates-list-item-head.png);padding:14px 22px 0;line-height:32px;-webkit-box-shadow:inset 0 2px 2px rgba(32, 36, 46, 0.41);-moz-box-shadow:inset 0 2px 2px rgba(32, 36, 46, 0.41);box-shadow:inset 0 2px 2px rgba(32, 36, 46, 0.41);-khtml-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.b-support-rates-list-item-head-title{color:#fff;font-weight:bold;font-size:24px;text-shadow:0 -1px 1px #000b1c;}
.b-support-rates-list-item-head-desc{color:#fff;font-size:13px;text-shadow:0 -1px 1px #000b1c;}
.b-support-rates-list-item-content{padding:2px 22px 32px;background:url(../images/cloud/b-support-rates-list-item-content.png);-khtml-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.b-support-rates-list-item-content-service{padding:5px 5px;margin:0 -22px;zoom:1;}
.b-support-rates-list-item-content-service:before,
.b-support-rates-list-item-content-service:after{content:"";display:table;}
.b-support-rates-list-item-content-service:after{clear:both;}
.b-support-rates-list-item-content-service + .b-support-rates-list-item-content-service{background:url(../images/cloud/b-support-rates-list-item-content-service.png) top repeat-x;}
.b-support-rates-list-item-content-service-icon{float:left;width:43px;}
.b-support-rates-list-item-content-service-desc{float:left;width:173px;color:#415967;font-size:14px;text-shadow:0 1px 1px #ffffff;}
.b-support-rates-list-item-content-service-desc-name{word-spacing:-1px;margin-right:-10px;}
.b-support-rates-list-item-content-service-desc-desc{font-weight:bold;}
.b-support-rates-list-item-content-price{position:absolute;background:url(../images/cloud/b-support-rates-list-item-content-price.png) left no-repeat;width:233px;padding-left:49px;height:120px;padding-top:18px;bottom:117px;right:-17px;color:#fff;font-size:13px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.b-support-rates-list-item-content-price strong{display:block;font-size:24px;font-weight:bold;text-shadow:0 -1px 1px #006789;}
.b-support-rates-list-item-content-price strong .e-neg-indent{margin-left:-24px;}
.b-support-rates-list-item-content-price_grey{background-position:right;}
.b-support-rates-list-item-content-price_grey strong{text-shadow:0 -1px 1px #1a4056;}
.b-support-rates-list-item-content-order{text-align:center;padding-top:36px;margin-left:-22px;margin-right:-22px;background:url(../images/cloud/b-support-rates-list-item-content-service.png) top repeat-x;}
.b-support-rates-list-item-content-order-lnk{display:inline-block;text-decoration:none;height:40px;line-height:40px;color:#fff;background:url(../images/cloud/b-btn.png) top repeat-x;padding:0 22px;text-shadow:0 -1px 1px #006789;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);-khtml-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background-image:url(../images/cloud/b-btn-red.png);font-size:18px;font-weight:normal;}
.b-support-rates-list-item-content-order-lnk:hover{background-position:center;}
.b-support-rates-list-item-content-order-lnk:active{background-position:bottom;}
.b-support-rates-list-item-content-order-lnk:before{content:'';display:inline-block;vertical-align:middle;background:url(../images/cloud/b-service-menu-order-btn-icon.png) no-repeat;width:11px;height:13px;margin-right:10px;position:relative;top:-2px;}
.b-calculator-summary-item-icon-cpu{width:31px;height:31px;display:block;background:url(../images/cloud/b-calculator-summary-item-icon.png) no-repeat;background-position:0 0px;float:left;margin-right:16px;}
.b-calculator-summary-item-icon-ram{width:31px;height:31px;display:block;background:url(../images/cloud/b-calculator-summary-item-icon.png) no-repeat;background-position:0 -31px;float:left;margin-right:16px;}
.b-calculator-summary-item-icon-trafic{width:31px;height:31px;display:block;background:url(../images/cloud/b-calculator-summary-item-icon.png) no-repeat;background-position:0 -62px;float:left;margin-right:16px;}
.b-calculator-summary-item-icon-hdd{width:31px;height:31px;display:block;background:url(../images/cloud/b-calculator-summary-item-icon.png) no-repeat;background-position:0 -93px;float:left;margin-right:16px;}
@font-face{font-family:'icomoon';src:url('/themes/cloud/fonts/icomoon.eot?2qf0ei');src:url('/themes/cloud/fonts/icomoon.eot?#iefix2qf0ei') format('embedded-opentype'),
url('/themes/cloud/fonts/icomoon.woff?2qf0ei') format('woff'),
url('/themes/cloud/fonts/icomoon.ttf?2qf0ei') format('truetype'),
url('/themes/cloud/fonts/icomoon.svg?2qf0ei#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;color:#fff;text-decoration:none;font-size:18pt;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-folder-open:before{content:"\e606";}
.icon-cogs:before{content:"\e607";}
.icon-gauge:before{content:"\e602";}
.icon-logout:before{content:"\e603";}
.icon-login:before{content:"\e604";}
.icon-help:before{content:"\e605";}
.headerIcon{width:32px;height:32px;display:inline-block;cursor:pointer;}
.headerNavBarText{text-decoration:none;height:32px;font-size:24px;display:inline-block;vertical-align:top;margin-top:2px;color:#fff;}
.headerIcon.upgrade{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXZJREFUeNrsVtFxgzAMhVwHYARG8Ab1CGQDRmCEZIK0E7idgGzgdIJkA2cDsoFr35E7WZVtufAXdGfgsJ+eJD8LqmqzzV7BrLWNH9Tc2z8dyvnxeb/4S13XF4rc3bQbezceSzIY3LjavEmE8xizhPjgxmR5dkJ4Tb1nl9lHbvmmEV6BOVFK3kdIptlxB536ZygyhDdrkHvigYkXCDsgQSbBHVXaLDDUDNZLC+YNFCkHrAqrh0/JSFRmIhNCognATPITUb0u4l9RiodmuGVP6MZkqiNT2csCchHpE4dMkgruffQ8M0QX644tsV6jNQ1Vvr4gABUhH5lb1f9xskKzCsRH4MJtQCXUC/c92/nQNlx37h3s0z/MAngBxU7JZwYLOcQOTT44pUdBY/xXxkXAgQO4MbJ/T8yd3U9JLolbKgCOpQiOpc5wAJwG9B0J4sNlf2fgRewDMlHNI3EKoJrHgi9mC0/Bs5tJLvlKf8ntzNlUm728/QowAKr3svZntcJlAAAAAElFTkSuQmCC);}
.headerIcon.home{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAONJREFUeNpiYBgFIx78Jw7MH2gH0M4R/0kD8wfaAVR3BCPIRHqkNUYgwCbONNCZYNQBLMTGFb1C4MJAh8AFaNZMAFLz6WD/B/QQOAil/ekUABvQywFDkKuA+D6dHGCIHAIfgOkPFAUBdLL8Acg+JiwJMJ9ODpiIngsOAmPDAEgr0Cv+0R1wgI6+3wAM/gfoDqBn/G9EL4hglgvQI+8Dfb8AmwP86Rn36A54SMfgn4jNAfL0zPvoDgCVfA4D4XtYk+w9nRIfCCjCsh9yCAjQO+8PVItoI672gCOdWsUHBmXXECDAALsq6Z2SrxLxAAAAAElFTkSuQmCC);}
.headerIcon.exit{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUeNrsl20KgCAMhlU8qJ1s3axuYhoGVmJ+TEfiC/0QdDy0vdNxbcQaiBul7BOMWvqtzXyqNl4NQBUIJkARSAuALJBcAJ7rgq/qvuL9xgWig8sAqwaScvvc55bQDSASH6gBghCypuMVHFP2mDHIQukC5f+J8W0Y0OqngLwIx7MheSMKAMC8DSdATLLEVsOlwLbFPccFKSq5XpV7+aJ2QnSQniNbEIRidryBUA6xJwh23EOAAQA14PnLid01pAAAAABJRU5ErkJggg==);}
.headerIcon.settings{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXlJREFUeNrUV42VgjAMLrwbgA1kBDa4jtARGIGbhBFwA93A28BbwQlgg17rSzVWE9pSRb/38sQ0v02aghALobVuDPWGKkNSXyGBZ9ca8Qx4Dq2jDv3vgHcJ6JGNItGxOisXxd5aDtExsgXWW5K1QlkNhkY9jxFkHZSz97WwCm2gXBUhy9ccfgedjgHbiu12vKUUjkBcORyamAD6mcx2hmokXwOPQx8TQMUEsWP0qCDOs6OMqILdrhOx9sPoUWsnsBm8A2TNA3TJnijFpwDGbkckUjN6NaFjbcmYHfgztCHWuG6m1jZg83OO4bqDaPVRTNyGqbjchmXAiwYX6dbQFBD3BLKzTabguUUBtCjzHj2rmQF1A1+P6/CD1ygj8O46N8crWUpd1VNeSr0sKRwCbkzpnMeM2Nbb9qOrl3emRzdCgx0k3nIqoDwyh//yXW659UqQswlzfWxEHcNcPfCNeL/eeJ2AJx7IZt0FahR3/ih+VWNmPW4U/gUYAH8T0ESGj3kBAAAAAElFTkSuQmCC);}
.headerIcon.help{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW5JREFUeNrUV4uNwjAMTRADdAPY4NiAMMF1hNwGvQ3YgBFgg+omaDsB3aAjwAY5FwUUhaSx3d5RnmSlUt36OfEvQrwYkqJsjNnAokC2IJn3+grSgNRSynZSlmBYg3QGj15XT2FYEQ2HiCiu8cJMh4Jq/Gimx/EVnid3QvpnDkuF4HkC+bGRL2xGfILkgezwsYMsqWPepwLuYlMx9v0a5JwKzKFUS0EhjjBDOKI53lcDgVoS46h7qnAI7/cJ/Y1XP1K46S/tN5hi8eGQWAXeZ5HnGHqb7Z1xOTK9zow6cju2BYHxUEruvIaF6QOZS4CLL8jpXq7WeI6sIw+MIfANhk+O5wdYSupuLkZuvWu84Pxk6QwTVPSpKAhZJAIDzINAY+s4BdXI+GncI6iZP2mZu/dskzH55E7tp9aRjtuMYn1BEQlobjsOekAk36WGUCxKq6/tnICFmtVINr+hdBZj+SwuJv91NXuPy+lf4leAAQD3SoLxlR0H3AAAAABJRU5ErkJggg==);}
.hIconHolder{display:inline-block;margin:5px 0 0 0;vertical-align:top;}
.paynetInstructions{font-size:18pt;}